
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; 
    color: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    background-color: #fff; 
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}


.input {
    margin-bottom: 20px;
}

.input select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    background-color: #f9f9f9;
}

.input button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #68afe5; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.input button:hover {
    background-color: #13171b;
}


.weather-box {
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
}

.icon img {
    width: 80px;
    margin-bottom: 10px;
}

.weather {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; 
}

.temperature {
    font-size: 28px;
    font-weight: bold;
    color: #4CAF50; 
    margin-bottom: 5px;
}

.description {
    font-size: 16px;
    text-transform: capitalize;
    color: #666; 
}
/*(desktops and tablets in landscape mode) */

@media (min-width: 768px) {
    .container {
        max-width: 600px;
        padding: 30px 40px;
    }

    .input select, .input button {
        font-size: 18px;
        padding: 12px;
    }

    .icon img {
        width: 100px;
    }

    .weather {
        font-size: 24px;
    }

    .temperature {
        font-size: 36px;
    }

    .description {
        font-size: 18px;
    }
}

/*  (tablets and larger smartphones) */
@media (max-width: 767px) {
    .container {
        padding: 20px;
    }

    .input select, .input button {
        font-size: 16px;
        padding: 10px;
    }

    .icon img {
        width: 80px;
    }

    .weather {
        font-size: 20px;
    }

    .temperature {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
    }
}

/* (smartphones) */
@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    .input select, .input button {
        font-size: 14px;
        padding: 8px;
    }

    .icon img {
        width: 60px;
    }

    .weather {
        font-size: 18px;
    }

    .temperature {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }
}